@media (min-width: 800px) {

    #content header {
        text-align: center;

        p {
            text-align: center;
        }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-direction: row;
    }
  }

  #content section {
    display: flex;
     align-items: center;
      justify-content: center;

    .texts {
        width: 50%;
        padding: 2rem;
    }
  }
  #content .section-2 {
    flex-direction: row-reverse;
  }

  #content .section-4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        width: 80%;
        margin: 2rem auto;
    }

    img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
  }

}




/* acima 1280*/


@media (min-width: 1280px) {

    #content header {
      background-image: url(imgs/Header\ Background.png);
      height: 70vh;
      background-size: cover;
      background-position: center;

      h1 {
        margin-top: 6rem;
          font-size: 5rem;
      }

        p {
            width: 45%;
            margin: 1.5rem auto;
        }

        .buttons {
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
        }
      }
        p {

            margin: 0 auto;
        }
    }

    #content section {
      display: flex;
      font-size: 3rem;
      gap: 2rem;

        .texts {
          h2 {
            font-size: 2.5rem;
          }
            width: 30%;
        }
    }

    #content .section-2 {
        flex-direction: row;
    }

    #content .section-4 {
      h2 {
        font-size: 2.5rem;
      }

        img {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
      }
        p {
            color: #23272A;
            text-align: center;
            font-size: 1.5rem;
            width: 60%;
            line-height: normal;
        }

        img {
            width: 100%;
            margin: 0 auto;
            max-width: 900px;
        }


   }
  